<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Товары</title>
  </head>
  <body>
    <div>
      <h3>Список товаров</h3>
      <table border="1">
        <tr>
          <th>Наименование</th>
          <th>Цена за шт.</th>
          <th>Купить</th>
        </tr>
        {% for p in products %}
        <tr>
          <td>{{ p.name }}</td>
          <td>{{ p.price }} руб.</td>
          <td><a href="/buy/{{ p.id }}">Купить</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
